* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/*====== HEADER SECTION CSS====== */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 100px;
    background-color: rgb(24, 23, 23);
}

.logo-container img {
    height: 60px;
    border-radius: 12px;
    mix-blend-mode: color-dodge;
    transition: all 0.5s ease;
}

.logo-container img:hover {
    transform: scale(1.2);
}

.nav-links-container {
    display: flex;
    justify-content: space-between;

}

.nav-links-container a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    margin: 0px 15px;
    padding: 3px;
    transition: all 0.5s ease;
}

.nav-links-container a:hover {
    color: #1E90FF;
    font-weight: 600;
    border-bottom: 4px solid #1E90FF;
    transform: scale(1.2);
}

.dark-light-mode {
    width: 80px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #fff;
}

.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.light-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HOME SECTION CSS */

.home-container {
    height: 500px;
    margin: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.home-left-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.details-container p {
    font-size: 28px;
}

.details-container h1 {
    font-size: 65px;
    font-weight: 700;
}

.details-container h1 span {
    color: #1E90FF;
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 80px;
    width: 300px;
}

.social-links a img {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.btn {
    display: block;
    margin-top: 20px;
    width: fit-content;
    border: 2px solid #1E90FF;
    border-radius: 6px;
    padding: 14px 50px;
    color: #1E90FF;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: #1E90FF;
    color: #fff;
}



.home-right-container img {
    height: 400px;
    width: 350px;
    border-radius: 10px;
    left: 20%;
    top: 10%;
    position: relative;
    animation: homeimg 1s ease infinite alternate;
}

@keyframes homeimg {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
    }
}

/* ======ABOUT SECTION CSS====== */

#about {
    height: 400px;
    margin: 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-image-container img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.about-details-container {
    height: 100%;
    display: flex;
    width: 60%;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
}

.about-details-container h1 {
    color: #1E90FF;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.about-details-container p {
    font-size: 18px;
    margin-top: 15px;
}

/* ======SKILL SECTION CSS====== */

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 60px 40px;
}

.skills-container {
    height: 100%;
    width: 50%;
}

.skills-container h1 {
    text-align: center;
    color: #1E90FF;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.skill-box {
    display: flex;
    flex-direction: column;
}

.skill-box span {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    background: grey;
}

.skill-precentage {
    height: 100%;
    border-radius: 10px;
    color: #fff;
    background: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.html-css {
    width: 90%;
}


/* =======SERVICES SECTION CSS====== */

#services {
    display: flex;
    justify-content: center;
    margin: 0px 40px;
    padding: 30px 40px;
}

#services .container {
    width: 80%;
    color: #fff;
}

#services .container h1 {
    text-align: center;
    color: #1E90FF;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #363636;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #1E90FF;
    transform: translateY(-10px);
}

/* ===========PROJECTS=================== */
#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#projects .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#projects .container h1 {
    color: #1E90FF;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.work-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;

}

.work {
    height: 350px;
    width: 350px;
    margin: 20px 40px;
    border-bottom: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {

    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #1E90FF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a {
    margin-top: 20px;
    color: #1E90FF;
    background: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* ======CONTACT SECTION CSS====== */

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 40px;
    background-color: #cacaca;
    margin: 0px 80px;
    margin-bottom: 80px;
    padding: 40px 0px;
    border-radius: 12px;
}

.contact-right {
    width: 50%;
}

.contact-right h1 {
    color: #1E90FF;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.contact-right form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}

form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* ======FOOTER SECTION CSS====== */

footer {
    background-color: #262626;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0px 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.5s ease;
}

footer:hover {
    transform: scaleY(1.2);
}

footer span {
    color: #fff;
    font-size: 24px;
}

.footer-social-icons img {
    margin-top: 20px;
    height: 40px;
    width: 60px;
    mix-blend-mode: color;
    transition: all 0.5s ease;
}

.footer-social-icons img:hover {
    transform: translateY(-10px);
}



/* ======RESPONSIVE DESIGN SAMSUNG S8+======= */

@media screen and (min-width:0px) and (max-width:360px) {

    /* HEADER */
    header {
        height: 400px;
        position: relative;
        left: 40px;
    }

    .logo-container {
        display: block;
        width: 100%;
        position: relative;
        left: 50px;
        margin: 0%;
        padding: 0%;

    }

    .logo-container img {
        width: 150px;
        height: 50px;

    }

    .nav-links-container {
        flex-direction: column;
        position: relative;
        align-items: center;
        right: 40px;
    }

    .dark-light-mode {
        display: none;
    }

    /* HOME SECTION */

    .home-container {
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        height: 800px;
        position: relative;
        right: 20px;
    }

    .resume-btn {
        font-size: 12px;
    }

    .home-left-container {
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
    }

    .details-container h1 {
        font-size: 30px;
    }

    .home-right-container {
        width: 200px;
        height: 200px;
    }

    .home-right-container img {
        width: 200px;
        height: 200px;
    }

    /* ABOUT SECTION */

    #about {
        flex-direction: column;
        justify-content: start;
        width: 360px;
        height: 750px;
        position: relative;
        left: 40px;
    }

    .about-image-container {
        position: relative;
        top: 0%;
        width: 200px;
        height: 200px;
    }

    .about-image-container img {
        width: 250px;
        height: 250px;
    }

    .about-details-container {
        position: relative;
        width: 100%;
        top: 120px;
        right: 255px;
    }

    /* SKILLS SECTION */
    #skills {
        position: relative;
        left: 20px;
    }

    /* PROJECTS SECTION */
    #projects {
        position: relative;
        left: 40px;
    }

    /* CONTACT SECTION */
    #contact {
        position: relative;
        left: 40px;
    }

    .contact-right h1 {
        font-size: 20px;
    }

    .contact-right form input {
        width: 150px;
        font-size: 12px;

    }

    .contact-right form textarea {
        width: 150px;
        font-size: 12px;
    }

    /* FOOTER */

    footer {
        position: relative;
        left: 40px;
    }

    footer span {
        font-size: 14px;
    }

    .footer-social-icons {
        display: none;
    }


}


/* RESPONSIVE DESIGN I-PAD MINI */

@media screen and (min-width:361px) and (max-width:768px) and (min-width:360px) {

    /* HEADER */

    header {
        height: 150px;
    }

    .dark-light-mode {
        display: none;
    }

    .nav-links-container {
        flex-direction: row;
    }

    /* HOME SECTION */
    .home-container {
        position: relative;
        flex-direction: row;
        height: 400px;
    }


    .details-container h1 {
        font-size: 30px;
    }


    .social-links {
        flex-direction: row;
    }

    .home-right-container {
        width: 200px;
        height: 200px;
    }

    .home-right-container img {
        width: 200px;
        height: 200px;
    }

    /* ABOUT SECTION */

    #about {
        position: relative;
        left: 5px;
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        width: 768px;
        margin: 0%;
        padding: 0%;
    }


    .about-image-container {
        width: 300px;
    }

    .about-image-container img {
        width: 300px;
        height: 300px;
    }

    .about-details-container {
        width: 60%;
        margin: 0%;
        padding: 0%;

    }

    /* SKILLS SECTION */

    #skills {
        position: relative;
        top: 80px;
    }

}